
@font-face {
    font-family: "ArimoRegular";
    src: url("../styles/ArimoRegular/ArimoRegular.eot");
    src: url("../styles/ArimoRegular/ArimoRegular.eot?#iefix")format("embedded-opentype"),
    url("../styles/ArimoRegular/ArimoRegular.woff") format("woff"),
    url("../styles/ArimoRegular/ArimoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArimoBold";
    src: url("../styles/ArimoBold/ArimoBold.eot");
    src: url("../styles/ArimoBold/ArimoBold.eot?#iefix")format("embedded-opentype"),
    url("../styles/ArimoBold/ArimoBold.woff") format("woff"),
    url("../styles/ArimoBold/ArimoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: ArimoBold;
    display: block;
}

td {
    text-align: center;
}

button {
    width: 192px;
    height: 49px;
    color: white;
    border-radius: 6px;
    border-style: none;
    font-family: ArimoBold;
}
.fa, .far, .fas {
    font-size: 24px;
    color: #848484;
}


sup {
    font-size: 24px;
}

.background {
    background-color: #3a4965;
    margin: 0 auto;
    padding-top: 24px;
    width: 1192px;
    height: 736px;;
}

/*--------------------------------------------HEADER------------------------------------------------------------------*/

.table {
    margin: 5px auto;
    position: relative;
    width: 1141px;
    height: 680px;
    border-collapse: collapse;
}

.table-text{
    font-size: 30px;
}


.table-data-wb {
    font-size: 18px;
    color: #484848;
    background-color: #fafafa;
}

.header {
    height: 156px;
}

.header-upper {
    font-size: 24px;
    height: 70px;

}
.header-upper>td{
    width: 277px;
}
.header-upper td:first-child {
    color: white;
    background-color: #89c331;
}

.header-upper td:nth-child(2n) {
    color: white;
    background-color: #f04a56;
}

.header-upper td:last-child {
    color: white;
    background-color: #20807c;
}

.header-down {
    background-color: #fafafa;
    height: 86px;
}

.header-down td {
    font-family: ArimoBold;
    font-size: 60px;
    color: #484848;;
}

.header-plans td:first-child{
    width: 277px!important;
}

.value {
    margin-inline-start: -25px;
    font-family: AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;;
    font-size: 18px;
}

/*-------------------------------------------MAIN---------------------------------------------------------------------*/

.content {
    font-family: AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;
    font-size: 16px;
    color: #5b5b5b;
    background-color: #f2f2f2;
}

.content-dg {
    font-family: ﻿AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;
    font-size: 16px;
    color: #5b5b5b;
    background-color: #e3e3e3;
}

.content-dg-down {
    font-family: AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;
    font-size: 16px;
    color: #5b5b5b;
    background-color: #e3e3e3;
}

.icon-text {
    padding-left: 12px;
}

/*-------------------------------------------FOOTER-------------------------------------------------------------------*/

.footer {
    height: 100px;
}
.footer td {
    background-color: #eeeeee;
}

td:nth-child (2n) {
    width: 277px;
}
 .table td:first-child {
    width: 310px;
}
.footer td:first-child {
    background-color: #dddddd;
}

.footer td:nth-child(3n) {
    background-color: #f4f4f4;
}

.contact:hover {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background-color: #343434;
}

.contact {
    background-color: #484848;
}

.buy-standard:hover {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background-color: #679325;
}

.buy-standard {
    background-color: #89c331;
}

.buy-ultimate:hover {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background-color: #AD353E;
}

.buy-ultimate {
    background-color: #f04a56;
}

.buy-premium:hover {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background-color: #1A6967;
}

.buy-premium {
    background-color: #20807c;
}
