.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.slide{
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;}
.showing{
    opacity: 1;
    z-index: 2;
}