@font-face {
    font-family: 'Verdana Regular';
    src: url('Verdana.eot');
    src: url('Verdana.eot?#iefix') format('embedded-opentype'),
    url('Verdana.woff') format('woff'),
    url('Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    font-family: Verdana;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);

}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
}

a:hover {
    color: rgba(242, 101, 34, 255);
}

.card-link:hover .price-block {
   z-index: 10;
   color:#fff;
}

/*--------------------------------------------------HEADER------------------------------------------------------------*/

.header-contacts {

    float: right;
    text-align: right;
    margin-top: 50px;
    margin-right: 150px;

}

.header-email {

}

.logo-img {
    content: url("../img/Milan-Holidays-logo@1X.png");
}

.logo-img:hover {
    content: url("../img/logo@1X2.png");
}

.logo {
    float: left;

    margin-left: 155px;
    margin-top: 49px;
}


.logo-link{
    display: inline-flex;
    text-decoration: none;
}

.logo:hover .logo-img {
    content: url("../img/logo@1X2.png");

}

.logo-text {
    float: right;
    margin-left: 15px;
    font-weight: 600;
    margin-top: -9px;
}

.mil{

    font-size: 29px;

    text-align: left;
}

.hol {

}
/*------------------------------------------------------MAIN----------------------------------------------------------*/
.container {
    background-image: linear-gradient(0deg, rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../img/background@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
}

.content-milan-holidays {
    margin-top: 141px;
}

.row {
display: inline-flex;
    margin-left: 157px;
    margin-right: 148px;
    text-align: center;
}

.row2 {
    display: inline-flex;
    margin-top: 58px;
    margin-left: 157px;
    margin-right: 148px;
    text-align: center;

}

.card-img {
    border: 2px solid;
    border-image: linear-gradient(0deg, #000000 25%,#FFFFFF) 2;
}

.card-1 {
    margin-right: 69px;
 }

.card-2 {
    margin-right:69px;
}

.text-card {
    padding-top: 22px  ;
}

.price-block {

    background-color: rgba(242, 101, 34, 255);
    height: 63px;
    width: 310px;
    margin-top: -67px;
    /* display: none; */
    position: absolute;
    z-index: -1;
}

.price-from {
    position: absolute;
    top: 18px;
    left: 21px;
    font-size: 10px;
}

.price-cost {
    position: relative;
    float: left;
    margin-top: 31px;
    margin-left: 21px;
    font-size: 20px;

}

.price-details {
    float: right;
    margin-top: 35px;
    margin-right: 18px;
    font-size: 14px;
}

/*------------------------------------------------------FOOTER--------------------------------------------------------*/

.footer-milan-holidays {
    margin: 35px auto;
    padding-bottom: 20px;
    width: 100%;
}

.footer-text {
    text-align: center;
    font-size: 12px;
}
