@font-face {
    font-family: 'Verdana Regular';
    src: url('Verdana.eot');
    src: url('Verdana.eot?#iefix') format('embedded-opentype'),
    url('Verdana.woff') format('woff'),
    url('Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    padding:0;
    margin:0;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: url("../img/rana-sawalha-364253-unsplash@1X.png")  no-repeat center center fixed;
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover;
    min-width:1024px; max-width:2324px;
    font-family: ﻿Verdana Regular, sans-serif;
    margin: 0 auto;
    overflow: auto;
    display: block;

}

/*------------------------------------------------------HEADER--------------------------------------------------------*/

.header-block {
    width: 100%;
    height: 56px;
    background-color: rgba( 0,0,0,0.5);
    position: relative;
    z-index: 10;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    margin-right: 24px;
    padding: 16px;
}

.nav-logo1 {
    padding: 16px;
}

.nav-logo {
    color: #FFF;
    font-family: Verdana, AdobeInvisFont, Courier, sans-serif;
    font-size: 10pt;
    text-decoration: none;
    text-align: left;
}

.nav-logo:hover {
    color:#3cb878;
}

.sprite  {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: inline-flex;
}

.sprite-ic-calendar-1X {
    margin-right: 28px;
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-ic-calendar-1X:hover {
    background-position: -5px -5px;
}

.sprite-ic-forum-1X {
    margin-right: 28px;
    width: 28px;
    height: 20px;
    background-position: -101px -5px;
}

.sprite-ic-forum-1X:hover {
    background-position: -63px -5px;
}

.sprite-ic-journey-1X {
    margin-right: 28px;
    width: 20px;
    height: 20px;
    background-position: -169px -5px;
}

.sprite-ic-journey-1X:hover {
    background-position: -139px -5px;
}

.vertical-line {
    margin-right: 28px;
    display:inline-flex;
}

.green-link {
    text-decoration: none;
    color: #3cb878;
}

.green-link:hover {
    text-decoration: underline;
}

/*----------------------------------------------------MAIN------------------------------------------------------------*/

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    z-index: 1;
}

.form {
    width:  444px;
    height: 584px;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    transform:  translate(0, calc(-50% + 56px));
    background-color: #fff;
    border-radius: 12px;
    margin:0 auto;
}

.label {
    font-family: ﻿AdobeInvisFont, ﻿Courier, Verdana, sans-serif;
    margin-top: 29px;
    margin-right: 60px;
    margin-left: 60px;
}
#square {

    height: 16px;
    width: 16px;
    background: #3cb878;
    position: absolute;
    left: 0;
    top: 33px;
}

.sign-up {
    margin-bottom: 17px;
    font-size: 14pt;
    float:left;
}

.login {
    font-size: 14pt;
    float:right;
}

.login:hover {
    text-decoration: underline;
}

.login a {
    color:#3cb878;
    font-size: 14px;
}

.social {
    display: inline-block;
}

.fab {
    color: #FFF;
}

/*--------------------------------------------------------BUTTONS-----------------------------------------------------*/

.facebook {
    font-family:﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    background-color: #305db8;
    margin-left: 62px;
    padding-left: 20px;
    text-align: left;
    color: #2b54a5;
    font-size: 12pt;
    width: 157px;
    height: 46px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.facebook:hover {
    background-color: #264b96;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.google-plus {
    font-family:﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    background-color: #df4a32;
    margin-right: 60px;
    text-align: left;
    padding-left: 25px;
    color: #b73c29;
    font-size: 12pt;
    width: 157px;
    height: 46px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.google-plus:hover {
    background-color:#c3412c;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.done {
    font-family:﻿﻿AdobeInvisFont, ﻿Courier, Verdana,sans-serif;
    background-color: #3cb878;
    color: #ffff;
    font-size: 12pt;
    margin: 10px;
    width: 322px;
    height: 46px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.done:hover{
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background-color:#329a65;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.check-mark  {
display: inline-flex;
}

.check-mark input {

margin: -5px 5px 0 0;
height: 20px;
width: 20px;
text-align: center;
vertical-align: middle;
}

.check-mark:before {
    background-color: #FFF;
}

.check-mark-text {
    padding-left: 10px;
    text-decoration: none;
}

.check-mark-text:hover{
    text-decoration: underline;
}

.divider {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 25px 0 9px 0;
}

.divider span {
    display: table-cell; position: relative;
}

.divider span:first-child, .divider span:last-child {
    width: 135px;
    top: 8px;
    background-size: 100% 2px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#bebebe));
}

.divider span:nth-child(2) {
    color: #949494;
    padding: 0 18px;
    width: auto;
    white-space: nowrap;
}

.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bebebe), to(transparent));
}

.input-form {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    text-align: left;
    color: #bebebe;
    margin-bottom: 9px;
    width: 322px;
    height: 46px;
    border-radius: 3px;
    border: 1px solid;
    padding-left: 6px;
}

.input-form:focus {
    -webkit-box-shadow: 0 5px 17px 0 #bebebe;
    -moz-box-shadow: 0 5px 17px 0 #bebebe;
    box-shadow: 0 5px 17px 0 #bebebe;
    color: #000;
    outline: none;
    border: none;
    border-radius: 3px;

}

.checkbox-block {
    margin: 10px 60px;
    font-family: Verdana;
    font-size: 11pt;
    text-align: left;
}

input[type="checkbox"]+span
{-webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,.3);
    outline: none;
    margin-right: 10px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 3px;
}

input[type="checkbox"]:checked+span:before
{
    content: url(../img/checkbox@1X.png);
    display: block;
    width: 14px;
    height: 11px;
    margin: 0 2px;
    pointer-events: none;
}