body {
    background-size: 100%;
    background-color: #f5f6f7;
    font-family: sans-serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav-block a{
    text-decoration: none;
    color: #16a085;
    font-weight: 600;
}
.img-block {
    background-image: url("../img/crop@1X.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 800px;
}
.content-block {
    text-indent: 20px;
    padding-top: auto;
    padding-bottom: 70px;
}
.button-block a{
    text-decoration: none;
    background-color: #16a085;
    color: white;
}
.copyright-block p{
    position: relative;
    background-color: white;
    padding: 10px 10px;
    text-align: right;
}
