.content{
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 14px;

}




/*---------------------------------------------------HEADER---------------------------------------------------------*/



.background-style-p {
    background: url("../img/background/Header_background.png") no-repeat;
    height: 1012px;
}

header {

    background-color: #00000050;
}

.header-top{
    width: 100%;
    height: 120px;
    background-color: #00000050;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    height: 120px;
    width: 1160px;
    margin: 0 auto;
}

.logo-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo {
    background: url("../img/icons/Polygon 1@1X.png") no-repeat;
    box-sizing: border-box;
    padding-top: 13px;
    height: 67px;
    width: 58px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.logo-txt{
    padding-left: 8px;
    font-size: 25px;
}

.logo-txt-style{
    color: #18cfab;
    font-weight: 700;
}


.menu-item-style{
    margin-right: 17px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff90;

}

.menu-item-style:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
    padding-bottom: 49px;
}

.fa {
    color: #ffffff90;
    font-size: 22px;
}

.fa:hover {
    color: #18cfab;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.header-content{
    display: flex;
    flex-direction: column;
    padding-top: 245px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-content-wordpress {
    font-size: 35px;
}

.wordpress-style{
    color: #18cfab;
}

.header-content-creative {
    font-size: 70px;
    margin: 45px 0 37px 0;
}

.header-content-awesome{
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    opacity: 0.6;
}

.header-buttons{
    display: flex;
    margin: 142px auto 0;
}
.header-buttons a {
    display: block;
    width: 165px;
    height: 60px;
    box-sizing: border-box;
    border-top: 4px solid #FFFFFF;
    border-radius: 5px;
    background-color: #18cfab;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
}

.header-buttons a:hover{
    background-color: #00cbf6;
}

.button-explore{
    margin-right: 30px;
}

.buttons-support{
    display: flex;
    flex-direction: row;
}

.button-support {
    display: flex;
    width: 25%;
    height: 375px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 5px solid #18cfab;
    background-color: #1c2a33;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-support:nth-child(2n){
    background-color: #18cfab;
    border-top: 5px solid #FFFFFF;
}

.button-support:hover{
    background-color: #0c1927;
    border-color: #FFFFFF;
}

.button-support:nth-child(2n):hover{
    background-color: #00cbf6;
    border-color:#18cfab ;
}

.button-card{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.button-card-img{
    height: 50%;
    margin-bottom: 55px;
}


.our-services-txt{
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    color: #4e4e4e;
    font-size: 36px;
    text-transform: capitalize;
}

.under-line{
    margin: 0 auto;
    height: 3px;
    width: 75px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    transform: skewX(75deg);
}

.tabs-service{
    display: flex;
    padding-top: 70px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 1160px;
    margin: 0 auto;
}

.tab-service {
    display: flex;
    flex-direction: row;
}
.our-services {
    margin-bottom: 20px;
}
.tab-service:active{
    background-color: #18cfab;
    color:#FFFFFF;
}

.tab-item{
    padding: 23px ;
    width: 192px;
    text-align: center;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    font-size: 16px;
    text-decoration: none;
}
.tab-item.active{
    background-color: #18cfab;
    color: #FFFFFF;
    position: relative
}

.tab-item.active:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 86px;
    bottom: -19px;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;


}
.tabs-content {
    display: none;
}

.tabs-content.active {
    width: 1160px;
    display: flex;
    margin: 0 auto;
    padding-top: 15px;

}
.tabimg  {
    border: 1px solid #9e9e9450;
    margin-right: 20px;
    width: 194px;
    height: 139px;
}
/*-------------------------------------------------OTHER--------------------------------------------------------------*/
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.buy {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 125px 0;
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/background/puchase_background.png) fixed center  ;
    height: 475px;
    box-sizing: border-box;
    background-size: cover;

}
.bytitle {
    font-size: 40px;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.bysubtitle {
    margin-top:35px ;
    font-size: 16px;
    text-align: center;
    color: rgba(216, 216, 216, 255);
    margin-bottom: 76px;
}
.bybutton {
    display: block;
    width: 165px;
    height: 60px;
    box-sizing: border-box;
    border-top: 4px solid #FFFFFF;
    border-radius: 5px;
    background-color: #18cfab;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
}

.bybutton:hover{
    background-color: #00cbf6;
}



.portfolio{
    padding: 100px 0;
    text-align: center;
    background-color: #f8fcfe;
    border-bottom: #e1e1e1;
    width: 1160px;
    margin: 0 auto;

}

.portfolio-title{
    padding: 0 0 25px 0;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
}

.portfolio-title-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px auto ;
    width: 610px;

}

.portfolio-title-item{
    position: relative;
    padding: 22px 0;
    border: 1px solid #ebebeb;
}


.portfolio-title-item.selected {
    color: #18cfab;
}

.portfolio-title-item.selected:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -3px;
    left: 0;
    border-top: 2px solid #18cfab;
}
.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 70px;
}
.lhide {
    display: none;
}
.portfolio-gallery-img{
    width: 290px;
    height: 205px;
}
.slide {
    flex-direction: column;
}
.load-more-btn{
    display: block;
    position: relative;
    width: 165px;
    height: 60px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #18cfab;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.load-more-btn:hover {
    background-color: #00cbf6;

}

.load-more-btn:before{
    content: "+";
    position: absolute;
    left: 15px;
    font-size: 26px;
    font-weight: 700;
}
.news {
    width: 1160px;
    margin:0 auto;
}
.news-title{
    padding: 85px 0 35px 0;
    font-size: 36px;
    text-align: center;
}

.news-feed{
    margin: 70px 0 130px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;


}

.news-card{
    display: flex;
    margin-bottom: 45px;
    flex-direction: column;
    width: 265px;
    position: relative;
}

.news-card-img{
    height: 210px;
}

.news-date{
    padding: 15px 20px;
    width: 66px;
    height: 68px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #203e38;
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
}

.news-info{
    padding: 0 15px 12px;
    background-color: #f8fcfe;
    box-sizing: border-box;
    border: 1px solid #f1f3f4;
}

.news-card-title{
    padding: 14px 0;
    font-size: 19px;
    font-weight: 700;

}

.news-card:hover .news-card-title{
    color:#18cfab;
}

.news-card:hover .news-date{
    background-color: #18cfab;

}
.reviews{
    padding: 100px;
    height: 850px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, .30), rgba(0, 0, 0, .30)), url("../img/background/about_the_ham_background.jpg");


}
.reviews-title{
    padding-bottom: 30px;
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
}

.quotes {
    width: 44px;
    height: 30px;
    margin: 69px auto 0;
    text-align: center;
}

.hasan-designer {
    font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Courier, ﻿Montserrat-Light, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 43px auto 0;
}

.designer  {
    margin: 15px auto 0;
    text-align: center;
    font-size: 12px;
}

.slider-top-img {
    margin: 23px auto 0;
    text-align: center;
    border-radius: 1px;
}

/*------------section reviews END-----------*/

/*----------section gallery-of-best-img---*/

.gallery-of-best-img {
    margin: 0 auto;
    width: 1160px;
}

.gallery-title{
    padding: 85px 0 35px 0;
    font-size: 36px;
    text-align: center;
}

.gallery-list{
    margin: 70px 0 130px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.gallery-card{
    display: flex;
    margin-bottom: 19px;
    flex-direction: column;
    position: relative
}

.gallery-card-height{
    display: flex;
    margin-bottom: 19px;
    flex-direction: column;
    position: relative
}

.gallery-in-card{
    display: flex;
    margin-bottom: 19px;
    flex-direction: column;
    position: relative
}
.gallery-column {
    display: flex;
    flex-direction: column;

}

.cards{
    display: flex;
    flex-direction: column;
}
.row3 {
    display: flex;
    flex-direction: row;
}


.footer-ham{
    background-color: #22353f;
}

.footer-text{
    padding: 47px 0;
    text-align: center;
}

.footer-text-link{
    color: #18cfab;
    text-decoration: none;
}

.reviews-text {
    text-align: center;
    font-size: 16px;
    margin: 43px auto 0;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: flex;
    flex-direction: column;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}




.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
    color: #c00;
    background-color: #fff
}
.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }
.slick-prev, .slick-next {
    content: "";
    line-height: 0;
    position: absolute;
    top: 146%;
    display: block;
    width: 31px;
    height: 31px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: white;
    font-size: 26px;
    border: 1px solid;
    outline: none;
    background: transparent;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: white;
    outline: none;
    background: #18cfab;
}
.slick-prev {
    left: 19%;
}
.slick-next {
    right: 19%;
}

.navimg {
    width: 61px;
    height: 61px;
    margin: 0 auto;
    border-radius: 50%;
}
.navimg:hover {
    border:1px solid #18cfab;
}
.navw {
    width: 50%;
    margin: 0 auto;
    margin-top: 105px;
}
.navm:hover {
    border: 3px solid #18cfab;
}
.enot {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    border: 4px solid #18cfab;
    margin-top: -9px;
}

.slick-active:focus {
    outline: green;
    -moz-outline-radius: 50%;
}
.section:focus .navimg {
    border: 3px solid #18cfab;
}

.image-container {
    position: relative;
    width: 100%;

    margin: 1px 6px 3px 0px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 99%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.search {
    position: absolute;
    top: 47%;
    left: 38%;
    width: 30px;
    height: 23px;
    font-size: 20px;
    background-color: #18cfab;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
}
.fa-arrows-alt {
    position: absolute;
    top: 47%;
    left: 55%;
    width: 30px;
    height: 23px;
    font-size: 20px;
    background-color: #18cfab;
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
}